/* Add New Floor Page Styling */

#floorDisplay {
    margin: 20px;
}

#floorDisplayHeader {
    font-size: 15px;
    margin-bottom: 4px;
}

#floorDisplayHr {
    margin-bottom: 15px;
    margin-top: 0;
}

.floorDisplayBtn {
    background-color: lightskyblue; /* #00467f; */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    margin: 0 10px 10px 0;
    outline: none;
    padding: 3px 20px;
    min-width: 125px;
}
  
.floorDisplayBtn:hover {
    background-color: #00547f;
}
  
.floorDisplayBtn:focus {
    outline: none;
}